@model IEnumerable<CourseWork7Term.Models.ticket>

@{
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>
@if(Model != null && Model.Any())
{
    <table>
        <tr>
            <th>
                Кинотеатр
            </th>
            <th>
                Фильм
            </th>
            <th>
                Время сеанса
            </th>
            <th>
                Место
            </th>
            <th>
                Стоимость билета
            </th>
            <th>
                Дата покупки
            </th>
            <th></th>
        </tr>
        @foreach (var ticket in Model.OrderBy(x=>x.session.start_time))
        {
            <tr>
                <td>
                    @ticket.session.cinema.name
                </td>
                <td>
                    @ticket.session.film.name
                </td>
                <td>
                    @ticket.session.start_time
                </td>
                <td>
                    @String.Format("Range {0} - place {1}", ticket.place.range, ticket.place.number)
                </td>
                <td>
                    @ticket.session.ticket_cost
                </td>
                <td>
                    @ticket.buy_date
                </td>
                <td>
                    @Html.ActionLink("Оценить фильм", "Marks", new { film_id = ticket.session.film_id })
                </td>
            </tr>
        }
    </table>
}