@model IEnumerable<CourseWork7Term.Models.session>
@{
    ViewBag.Title = "Поиск";
}
<h2>Поиск сеансов</h2>
<div>
    @using (Ajax.BeginForm("Search", new AjaxOptions()))
    { 
        <div class="editor-label">
            Кинотеатр
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cinemas", (SelectList)ViewBag.Cinemas, String.Empty)
        </div>

        <div class="editor-label">
            Фильм
        </div>
        <div class="editor-field">
            @Html.DropDownList("Films", (SelectList)ViewBag.Films, String.Empty)
        </div>
        
        <div class="editor-label">
            Актер
        </div>
        <div class="editor-field">
            @Html.DropDownList("Actors", (SelectList)ViewBag.Actors, String.Empty)
        </div>
        
        <div class="editor-label">
            Продюсер
        </div>
        <div class="editor-field">
            @Html.DropDownList("Producers", (SelectList)ViewBag.Producers, String.Empty)
        </div>
        
        <div class="editor-label">
            Сценарист
        </div>
        <div class="editor-field">
            @Html.DropDownList("Screenwriters", (SelectList)ViewBag.Screenwriters, String.Empty)
        </div>
                
        <input type="submit" value="@ViewBag.Title" />
    }
</div>

@if (Model != null && Model.Any())
{
    <h2>Результаты поиска:</h2>
    <table>
        <tr>
            <th>
                Кинотеатр
            </th>
            <th>
                Фильм
            </th>
            <th>
                Начало сеанса
            </th>
            <th>
                Стоимость билета
            </th>
            <th>
                Страны
            </th>
            <th>
                Актеры
            </th>
            <th>
                Продюсеры
            </th>
            <th>
                Сценаристы
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cinema.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.film.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ticket_cost)
                </td>
                <td>
                    <ul>
                        @foreach (var country in item.film.country)
                        {
                            <li>@country.name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var country in item.film.actor)
                        {
                            <li>@country.name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var country in item.film.producer)
                        {
                            <li>@country.name</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var country in item.film.screenwriter)
                        {
                            <li>@country.name</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Купить билет", "Buy", new { cinema_id = item.cinema_id, film_id = item.film_id })
                </td>
                <td>
                    @Html.ActionLink("Оценить фильм", "Marks", new { film_id = item.film_id })
                </td>
            </tr>
        }
    </table>


}
