@model CourseWork7Term.Models.producer

@{
    ViewBag.Title = "Добавление записи о продюсере";
}

<h2>Добавление записи о продюсере</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>producer</legend>

        <div class="editor-label">
            Имя
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку продюсеров", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
