@model CourseWork7Term.Models.session

@{
    ViewBag.Title = "Добавление записи о сеансе";
}

<h2>Добавление записи о сеансе</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>session</legend>

        <div class="editor-label">
            Кинотеатр
        </div>
        <div class="editor-field">
            @Html.DropDownList("cinema_id", String.Empty)
            @Html.ValidationMessageFor(model => model.cinema_id)
        </div>

        <div class="editor-label">
            Фильм
        </div>
        <div class="editor-field">
            @Html.DropDownList("film_id", String.Empty)
            @Html.ValidationMessageFor(model => model.film_id)
        </div>

        <div class="editor-label">
            Начало сеанса
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.start_time)
            @Html.ValidationMessageFor(model => model.start_time)
        </div>

        <div class="editor-label">
            Стоимость билета
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ticket_cost)
            @Html.ValidationMessageFor(model => model.ticket_cost)
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку сеансов", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
