@model CourseWork7Term.Models.session

@{
    ViewBag.Title = "Удаление записи о сеансе";
}

<h2>Удаление записи о сеансе</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>session</legend>

    <div class="display-label">
         Кинотеатр
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cinema.name)
    </div>

    <div class="display-label">
         Фильм
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.film.name)
    </div>

    <div class="display-label">
         Начало сеанса
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_time)
    </div>

    <div class="display-label">
         Стоимость билета
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticket_cost)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку сеансов", "Index")
    </p>
}
