@model CourseWork7Term.Models.session

@{
    ViewBag.Title = "Сеанс";
}

<h2>Сеанс</h2>

<fieldset>
    <legend>session</legend>

    <div class="display-label">
         Кинотеатр
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cinema.name)
    </div>

    <div class="display-label">
         Фильм
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.film.name)
    </div>

    <div class="display-label">
         Начало сеанса
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.start_time)
    </div>

    <div class="display-label">
         Стоимость билета
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ticket_cost)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { cinema_id = Model.cinema_id, film_id = Model.film_id }) |
    @Html.ActionLink("К списку сеансов", "Index")
</p>
