@model CourseWork7Term.Models.mark

@{
    ViewBag.Title = "Добавление записи об оценке";
}

<h2>Добавление записи об оценке</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mark</legend>

        <div class="editor-label">
            Название
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            Значение
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.value)
            @Html.ValidationMessageFor(model => model.value)
        </div>

        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку оценок", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
