@model CourseWork7Term.Models.film

@{
    ViewBag.Title = "Удаление записи и фильме";
}

<h2>Удаление записи и фильме</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>film</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Продолжительность
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>

    <div class="display-label">
         Ограничение возраста
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age_limit)
    </div>

    <div class="display-label">
         Дата выпуска
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.release_date)
    </div>

    <div class="display-label">
         Описание
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         Средняя оценка
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.average_mark)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку фильмов", "Index")
    </p>
}
