@model CourseWork7Term.Models.film

@{
    ViewBag.Title = "Фильм";
}

<h2>Фильм</h2>

<fieldset>
    <legend>film</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Продолжительность
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>

    <div class="display-label">
         Ограничение возраста
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age_limit)
    </div>

    <div class="display-label">
         Дата выпуска
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.release_date)
    </div>

    <div class="display-label">
         Описание
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         Средняя оценка
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.average_mark)
    </div>

    <div class="display-label">
        Жанры
    </div>
    <div class="display-field">
        <ul>
            @foreach (var genre in Model.genre)
            {
                <li>@genre.name</li>
            }
        </ul>
    </div>

    <div class="display-label">
        Страны
    </div>
    <div class="display-field">
        <ul>
            @foreach (var country in Model.country)
            {
                <li>@country.name</li>
            }
        </ul>
    </div>

    <div class="display-label">
        Актеры
    </div>
    <div class="display-field">
        <ul>
            @foreach (var actor in Model.actor)
            {
                <li>@actor.name</li>
            }
        </ul>
    </div>

    <div class="display-label">
        Сценаристы
    </div>
    <div class="display-field">
        <ul>
            @foreach (var screenwriter in Model.screenwriter)
            {
                <li>@screenwriter.name</li>
            }
        </ul>
    </div>

    <div class="display-label">
        Продюсеры
    </div>
    <div class="display-field">
        <ul>
            @foreach (var producer in Model.producer)
            {
                <li>@producer.name</li>
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку фильмов", "Index")
</p>
