@model CourseWork7Term.Models.film

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>film</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.duration)
            @Html.ValidationMessageFor(model => model.duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.age_limit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.age_limit)
            @Html.ValidationMessageFor(model => model.age_limit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.release_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.release_date)
            @Html.ValidationMessageFor(model => model.release_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.average_mark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.average_mark)
            @Html.ValidationMessageFor(model => model.average_mark)
        </div>
        <table>
            <tr>
                <th>
                    <div class="editor-label"><b>Actors:</b></div>
                </th>
                <th>
                    <div class="editor-label"><b>Genre:</b></div>
                </th>
                <th>
                    <div class="editor-label"><b>Producers:</b></div>
                </th>
                <th>
                    <div class="editor-label"><b>Screenwriters:</b></div>
                </th>
                <th>
                    <div class="editor-label"><b>Countrys:</b></div>
                </th>
            </tr>
            <tr>
                <td>
                    @{
                        foreach (var actor in ViewBag.Actor)
                        {
                            <input type="checkbox" name="selectedActors" value="@actor.id"
                                   @(Model.actor.Contains(actor) ? "checked=\"checked\"" : "") />
                                            @actor.name <br />
                        }
                    }
                </td>
                <td>
                    @{
                        foreach (var genre in ViewBag.Genre)
                        {
                            <input type="checkbox" name="selectedGenres" value="@genre.id"
                                   @(Model.genre.Contains(genre) ? "checked=\"checked\"" : "") />
                                            @genre.name <br />
                        }
                    }
                </td>
                <td>
                    @{
                        foreach (var producer in ViewBag.Producer)
                        {
                            <input type="checkbox" name="selectedProducers" value="@producer.id"
                                   @(Model.producer.Contains(producer) ? "checked=\"checked\"" : "") />
                                            @producer.name <br />
                        }
                    }
                </td>
                <td>
                    @{
                        foreach (var screenwriter in ViewBag.Screenwriter)
                        {
                            <input type="checkbox" name="selectedScreenwriters" value="@screenwriter.id"
                                    @(Model.screenwriter.Contains(screenwriter) ? "checked=\"checked\"" : "") />
                                            @screenwriter.name <br />
                        }
                    }
                </td>
                <td>
                    @{
                        foreach (var country in ViewBag.Country)
                        {
                            <input type="checkbox" name="selectedCountry" value="@country.id"
                                   @(Model.country.Contains(country) ? "checked=\"checked\"" : "") />
                                            @country.name <br />
                        }
                    }
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
