@model IEnumerable<CourseWork7Term.Models.film>

@{
    ViewBag.Title = "Фильмы";
}

<h2>Фильмы</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Продолжительность
        </th>
        <th>
            Ограничение возраста
        </th>
        <th>
            Дата выпуска
        </th>
        <th>
            Описание
        </th>
        <th>
            Средняя оценка
        </th>
        <th>
            Жанры
        </th>
        <th>
            Страны
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age_limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.release_date)
        </td>
        <td>
            @{
                var subString = item.description;
                if (subString.Length > 50)
                {
                    subString = item.description.Substring(0, 50) + "...";
                }
            }
            @Html.DisplayFor(modelItem => subString);
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.average_mark)
        </td>
        <td>
            <ul>
                @foreach (var genre in item.genre)
                {
                    <li>@genre.name</li>
                }
            </ul>
        </td>
        <td>
            <ul>
                @foreach (var country in item.country)
                {
                    <li>@country.name</li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<div>
    <br />
    @Html.ActionLink("На страницу администратора", "Admin", "Home")
</div>