@model CourseWork7Term.Models.cinema

@{
    ViewBag.Title = "Удаление записи о кинотеатре";
}

<h2>Удаление записи о кинотеатре</h2>

<h3>Удалить запись?</h3>
<fieldset>
    <legend>cinema</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Местоположение
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         Время работы
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.work_time)
    </div>

    <div class="display-label">
         Телефон
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку кинотеатроы", "Index")
    </p>
}
