@model CourseWork7Term.Models.cinema

@{
    ViewBag.Title = "Кинотеатр";
}

<h2>Кинотеатр</h2>

<fieldset>
    <legend>cinema</legend>

    <div class="display-label">
         Название
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         Местоположение
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         Время работы
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.work_time)
    </div>

    <div class="display-label">
         Телефон
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>
    <div class="display-label">
        Места
    </div>
    <div class="display-field">
        <ul>
            @foreach (var pl in Model.place)
            {
                <li>@Html.Raw(String.Format("Ряд {0} - место {1}", pl.range, pl.number))</li>
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.id }) |
    @Html.ActionLink("К списку кинотеатров", "Index")
</p>
